<div class='shif__intro'>
    <div class='gs-container'>
        <div class='shif__header'>
            <h1 class='shif__headline'>
                <span class='shif__line shif__line--quote shif__line--1'>&lsquo;I don't have</span>
                <span class='shif__line shif__line--quote shif__line--2'>to peak to win&rsquo;</span>
                <span class='shif__line shif__line--title shif__line--3'>The unstoppable</span>
                <span class='shif__line shif__line--title shif__line--4'>Mikaela Shiffrin</span>
                <span class='shif__line shif__line--title shif__line--5'>wants it all</span>
            </h1>

            <h3 class='shif__standfirst'>
                The 22-year-old American sensation enters next month’s Winter Olympics with a shot at a history-making four medals, but her thorniest competitor remains perfection
                <span class='shif__byline'>
                    by Amanda Doyle
                </span>
            </h3>

            <p class='shif__caption'>Photograph: Ezra Shaw/Getty</p>
        </div>
    </div>
</div>

{{> templates/helpers/share }}
