<div class='shif__intro'>
    <div class='gs-container'>
        <div class='shif__header'>
            <h1 class='shif__headline'>
                <span class='shif__headline-quote'>&lsquo;I don't have</span>
                <span class='shif__headline-quote'>to peak to win&rsquo;</span>
                <span class='shif__headline-title'>The unstoppable</span>
                <span class='shif__headline-title'>Mikaela Shiffrin</span>
                <span class='shif__headline-title'>wants it all</span>
            </h1>

            <h2 class='shif__standfirst'>
                The 22-year-old American sensation enters next month’s Winter Olympics with a shot at a history-making five medals, but her thorniest competitor remains perfection
                <span class='shif__byline'>
                    Interview by Amanda Doyle
                </span>
            </h2>
        </div>
    </div>

<!--         {{> templates/helpers/share }} -->
</div>