.shif__intro {
    position: relative;
    color: $c-white;
    background-color: $c-header;
    margin-bottom: 6px;
}

.shif__header {
    position: relative;
    height: 0;
    padding-top: 60%;
    background-image: url('@@assetPath@@/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.shif__headline {
    position: absolute;
    top: 20px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900; 
    font-size: 24px;
    line-height: 28px;

    @include mq(desktop) {
        font-size: 48px;
        line-height: 52px;
    }
}

.shif__line {
    display: table;
    padding: 2px 0;

    @include mq(desktop) {
        padding: 2px 0 9px;
    }
}

.shif__line--quote {
    color: $c-white;
    background: linear-gradient($c-blue, $c-blue) no-repeat;
    box-shadow: 4px 0 0 $c-blue, -4px 0 0 $c-blue;
}

.shif__line--title {
    color: $c-black;
    background: linear-gradient($c-yellow, $c-yellow) no-repeat;
    box-shadow: 4px 0 0 $c-yellow, -4px 0 0 $c-yellow;
}

.shif__line--1 {
    @include mq(desktop) {
        margin-left: 100px;
    }
}

.shif__line--3 {
    @include mq(desktop) {
        margin-left: 60px;
    }
}

.shif__line--4 {
    @include mq(desktop) {
        margin-left: 100px;
    }
}

.shif__standfirst {
    position: absolute;
    bottom: 2px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: $c-white;
    max-width: 440px !important;

    @include mq(desktop) {
        font-size: 22px;
        line-height: 25px;
    }
}

.shif__byline {
    display: block;
    color: $c-yellow;
}

.shif__caption {
    position: absolute;
    left: -35px;
    bottom: -30px;
    font-family: 'Guardian Text Sans Web';
    font-size: 16px;
    line-height: 1;
    color: $c-white;
    transform-origin: top left;
    transform: rotate(-90deg);
}
