.shif__intro {
    position: relative;
    color: $c-white;
    background-color: $c-header;
    margin-bottom: 42px;

    @include mq(desktop) {
        margin-bottom: 6px;
    }

    .gs-container {
        z-index: 20;
    }

    .gs-container:before {
        opacity: .1 !important;
        background: $c-white !important;
        z-index: 10;
    }
}

.shif__header {
    position: relative;
    height: 0;
    padding-top: 130%;
    background-image: url('@@assetPath@@/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 35% center;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;

    @include mq(mobileLandscape) {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100%;
    }

    @include mq(tablet) {
        margin: 0;
        padding: 0;
        padding-top: 60%;
        background-size: contain;
        background-position: right center;
    }
}

.shif__headline {
    position: absolute;
    top: 10px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900; 
    font-size: 20px;
    line-height: 24px;

    @include mq(mobileLandscape) {
        font-size: 26px;
        line-height: 30px;
        top: 20px;
    }

    @include mq(phablet) {
        font-size: 32px;
        line-height: 36px;
    }

    @include mq(desktop) {
        font-size: 48px;
        line-height: 52px;
    }

    @include mq(leftCol) {
        margin-top: 20px;
    }
}

.shif__line {
    display: table;
    padding: 2px 0;

    @include mq(desktop) {
        padding: 2px 0 9px;
    }
}

.shif__line--quote {
    color: $c-white;
    background: linear-gradient($c-blue, $c-blue) no-repeat;
    box-shadow: 4px 0 0 $c-blue, -4px 0 0 $c-blue;

    @include mq(desktop) {
        box-shadow: 10px 0 0 $c-blue, -10px 0 0 $c-blue;
    }
}

.shif__line--title {
    color: $c-black;
    background: linear-gradient($c-yellow, $c-yellow) no-repeat;
    box-shadow: 4px 0 0 $c-yellow, -4px 0 0 $c-yellow;

    @include mq(desktop) {
        box-shadow: 10px 0 0 $c-yellow, -10px 0 0 $c-yellow;
    }
}

.shif__line--1 {
    @include mq(desktop) {
        margin-left: 100px;
    }
}

.shif__line--3 {
    @include mq(desktop) {
        margin-left: 60px;
    }
}

.shif__line--4 {
    @include mq(desktop) {
        margin-left: 100px;
    }
}

.shif__standfirst {
    position: absolute;
    bottom: 2px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: $c-white;
    max-width: 440px !important;
    margin-bottom: 6px;
    padding-right:100px;

    @include mq(mobileLandscape) {
        padding-right: 0;
    }

    @include mq(desktop) {
        font-size: 22px;
        line-height: 25px;
    }
}

.shif__byline {
    display: block;
    color: $c-yellow;
}

.shif__caption {
    position: absolute;
    font-family: 'Guardian Text Sans Web';
    font-size: 14px;
    line-height: 1;
    color: $c-dark-blue;
    margin-bottom: 0 !important;
    bottom: -22px;
    pointer-events: none;

    @include mq(desktop) {
        left: -32px;
        bottom: -3px;
        color: $c-white;
        opacity: 0.4;
        transform-origin: top left;
        transform: rotate(-90deg);
    }
}
